app-home
    height: 100%
    width: 30%
    display: flex
    justify-content: center
    align-items: center
    transition: width 0.3s linear


app-home.active
    width: 100%


app-results
    display: flex
    height: 100%
    width: 0%
    overflow: hidden
    transition: width 0.3s linear
    flex-direction: column

app-results.active
    -webkit-box-shadow: -1px 1px 15px 2px #1c1c1c
    box-shadow: -1px 1px 15px 2px #1c1c1c
    width: 70%

